node_modules/
android/.gradle/
android/local.properties
dist-electron/
electron/build-resources/*.ico
electron/build-resources/*.icns
electron/build-resources/icons/
www/
*.apkgoogle-services.json
GoogleService-Info.plist
*.jks
*.keystore
